:root {
  --grey1: #444;
  --grey2: #222;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar ul {
  height: 50px;
  background-color: var(--grey2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  text-align: center;
}

.nav-bar ul li {
  display: inline-block;
}

.nav-bar ul li a {
  padding: 10px;
  color: white;
  background-color: var(--grey2);
  text-decoration: none;
}

.nav-bar ul li a:hover {
  background-color: var(--grey1);
}

.container-users {
  height: 400px;
  overflow: auto;
}

.container-users h1 {
  margin-top: 10px;
  text-align: center;
}

.row-user-lock {
  text-decoration: line-through;
}

.row-user button {
  width: 100%;
}

table {
  width: 100%;
  height: 100px;
}

table,
td,
th {
  padding: 5px;
  box-sizing: border-box;
  border: 1px dashed #888;
  text-align: left;
}

.table-users {
  border-collapse: collapse;
  background-color: #eee;
  margin-top: 10px;
}

.table-users th {
  background-color: #bbb;
}

.table-users tr:nth-child(even) {
  background-color: #ddd;
}
.paginate-list ul {
  width: 415px;
}

.paginate-list ul {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.paginate-list ul li {
  display: inline-block;
  background-color: #ccc;
  padding: 10px;
}

.paginate-list a {
  color: black;
}

.nav-bar ul li a.active {
  background-color: var(--grey1);
}

.btn-link {
  padding: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.btn-link-active {
  font-weight: bold;
}

li a.active {
  font-weight: bold;
}

#prevPage,
#nextPage {
  font-weight: normal;
}
